#.gitignore

#Exclude Folders
/Dotnet.Csharp/.vs
/Dotnet.Csharp/Delegates/bin
/Dotnet.Csharp/Delegates/obj
/Dotnet.Csharp/DesignPatterns/bin
/Dotnet.Csharp/DesignPatterns/obj
/Dotnet.Csharp/ParallelProgramming/bin
/Dotnet.Csharp/ParallelProgramming/obj
/Dotnet.Csharp/Startup/bin
/Dotnet.Csharp/Startup/obj
